---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import VideoGrid from '../components/VideoGrid.astro';
---

<Layout title="Showreel.design - Discover Amazing Motion Design & Animation">
  <Header />
  <main>
    <Hero />
    <VideoGrid />
  </main>
</Layout>

<script>
  // Import grid actions for interactive animations
  import '../scripts/gridActions.js';
</script>